<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <servlet>
  <servlet-name>a1</servlet-name>
  <servlet-class>Validate</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a2</servlet-name>
  <servlet-class>Welcome</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a3</servlet-name>
  <servlet-class>Register</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a4</servlet-name>
  <servlet-class>Send</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a5</servlet-name>
  <servlet-class>Inbox</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a6</servlet-name>
  <servlet-class>SendMails</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a7</servlet-name>
  <servlet-class>SendPass</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a8</servlet-name>
  <servlet-class>Main</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a9</servlet-name>
  <servlet-class>ChangePass</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a10</servlet-name>
  <servlet-class>SQL</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a11</servlet-name>
  <servlet-class>Vcode</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a12</servlet-name>
  <servlet-class>Profile</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a13</servlet-name>
  <servlet-class>ProfileAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a14</servlet-name>
  <servlet-class>DelUser</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a15</servlet-name>
  <servlet-class>DelUserAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>a16</servlet-name>
  <servlet-class>DelMail</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>a1</servlet-name>
  <url-pattern>/Validate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a2</servlet-name>
  <url-pattern>/Welcome</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a3</servlet-name>
  <url-pattern>/Register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a4</servlet-name>
  <url-pattern>/Send</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a5</servlet-name>
  <url-pattern>/Inbox</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a6</servlet-name>
  <url-pattern>/SendMails</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a7</servlet-name>
  <url-pattern>/SendPass</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a8</servlet-name>
  <url-pattern>/Main</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a9</servlet-name>
  <url-pattern>/ChangePass</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a10</servlet-name>
  <url-pattern>/SQL</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a11</servlet-name>
  <url-pattern>/Vcode</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a12</servlet-name>
  <url-pattern>/Profile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a13</servlet-name>
  <url-pattern>/ProfileAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a14</servlet-name>
  <url-pattern>/DelUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a15</servlet-name>
  <url-pattern>/DelUserAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>a16</servlet-name>
  <url-pattern>/DelMail</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>
   30
  </session-timeout>
 </session-config>
</web-app>
